*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep        
*JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*._2i
*.L2P
*.FED
*.elf
*.args
*.mk
*.local
*.pbi
*.xcl
*.ninja_log
*.ninja_deps
*build.ninja
*.out
*build
*lvgl
*managed_components
.trae/
.vscode/